*, ::after, ::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Source Sans Pro';
}
input:focus, textarea:focus, button:focus {
    outline: none;
}
.evo-calendar {
    position: relative;
    background-color: #fbfbfb;
    color: #5a5a5a;
    width: 100%;
    box-shadow: 0 10px 50px -20px #8773c1;
    margin: 0 auto 50px auto;
    overflow: hidden;
    z-index: 1;
}

.calendar-sidebar {
    position: absolute;
    margin-top: 0;
    width: 200px;
    height: 100%;
    float: left;
    background-color: #8773c1;
    color: #fff;
    z-index: 1;
    box-shadow: 5px 0 18px -3px #8773c1;
    transition: all .3s ease;
    transform: translateX(0);
}

.sidebar-hide .calendar-sidebar {
    transform: translateX(-100%);
    box-shadow: none;
}
.calendar-sidebar > span#sidebarToggler {
    position: absolute;
    width: 70px;
    height: 70px;
    bottom: 0;
    right: 1px;
    transform: translate(100%, 0);
    background-color: #8773c1;
    padding: 10px;
    cursor: pointer;
    box-shadow: 5px 0 18px -3px #8773c1;
}

.calendar-sidebar > .calendar-year {
    padding: 20px;
    text-align: center;
}
.calendar-sidebar > .calendar-year > p {
    margin: 0;
    font-size: 30px;
    display: inline-block;
}
.calendar-sidebar > .calendar-year > button.icon-button {
    display: inline-block;
    width: 20px;
    height: 20px;
}
.calendar-sidebar > .calendar-year > button.icon-button > span {
    border-right: 4px solid #fff;
    border-bottom: 4px solid #fff;
    width: 100%;
    height: 100%;
}
.calendar-sidebar > .calendar-year > img[year-val="prev"] {
    float: left;
}
.calendar-sidebar > .calendar-year > img[year-val="next"] {
    float: right;
}
.calendar-sidebar > .calendar-months {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.calendar-sidebar > .calendar-months > li {
    padding: 7px 30px;
    cursor: pointer;
    font-size: 16px;
}
.calendar-sidebar > .calendar-months > li:hover {
    background-color: #a692e0;
}
.calendar-sidebar > .calendar-months > li.active-month {
    background-color: #755eb5;
}
.calendar-inner {
    padding: 50px 30px 70px 30px;
    float: left;
    width: calc(100% - 600px);
    margin-left: 200px;
    background-color: #fff;
    box-shadow: 5px 0 18px -3px rgba(0, 0, 0, 0.15);
    transition: all .3s ease;
}
.sidebar-hide .calendar-inner {
    width: calc(100% - 400px);
    margin-left: 0;
}
.event-hide .calendar-inner {
    width: calc(100% - 200px);
}
.event-hide.sidebar-hide .calendar-inner {
    width: 100%;
}
.calendar-inner .calendar-table {
    border-collapse: collapse;
    font-size: 20px;
    width: 100%;
    user-select: none;
}
th[colspan="7"] {
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 26px;
}
tr.calendar-header {

}
tr.calendar-header .calendar-header-day {
    padding: 10px;
    text-align: center;
}

tr.calendar-body {
    
}
tr.calendar-body .calendar-day {
    padding: 10px;
}
tr.calendar-body .calendar-day .day {
    position: relative;
    padding: 15px;
    height: 60px;
    width: 60px;
    margin: 0 auto;
    border-radius: 50%;
    text-align: center;
    border: 1px solid transparent;
    transition: all .3s ease, transform .5s ease;
    cursor: pointer;
}
tr.calendar-body .calendar-day .day:hover {
    background-color: #dadada;
}
tr.calendar-body .calendar-day .day:active {
    transform: scale(0.9);
}

tr.calendar-body .calendar-day .day.calendar-active,
tr.calendar-body .calendar-day .day.calendar-active:hover {
    color: #5a5a5a;
    border-color: rgba(0, 0, 0, 0.5);
}

tr.calendar-body .calendar-day .day.calendar-today {
    color: #fff;
    background-color: #8773c1;
}
tr.calendar-body .calendar-day .day.calendar-today:hover {
    color: #fff;
    background-color: #755eb5;
}
/* yellow
tr.calendar-body .calendar-day .day.calendar-today {
    color: #60afa1;
    background-color: #c3f2ea;
}
tr.calendar-body .calendar-day .day.calendar-today:hover {
    color: #fff;
    background-color: #60afa1;
}*/
/*tr.calendar-body .calendar-day .day.calendar-event {
    color: #e09d9d;
    background-color: #ffc1c1;
}
tr.calendar-body .calendar-day .day.calendar-event:hover{
    color: #fff;
    background-color: #e09d9d;
}*/
/*tr.calendar-body .calendar-day .day.calendar-holiday {
    color: #e8af00;
    background-color: #ffe6a4;
}
tr.calendar-body .calendar-day .day.calendar-holiday:hover{
    color: #fff;
    background-color: #e8af00;
}*/
tr.calendar-body .calendar-day .day[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    background-color: transparent;
    color: #b9b9b9;
}


.calendar-events {
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    padding: 70px 30px 60px 30px;
    background-color: #fbfbfb;
    transition: all .3s ease;
    overflow: auto;
    z-index: -1;
}
.calendar-events > .event-header {

}
.calendar-events > .event-header > p {
    font-size: 30px;
    font-weight: 600;
}
#eventListToggler {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 0;
    right: 0;
    background-color: #8773c1;
    padding: 10px;
    cursor: pointer;
    box-shadow: 5px 0 18px -3px #8773c1;
}

#eventAddButton {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #8773c1;
    padding: 10px;
    cursor: pointer;
    color: #fff;
    box-shadow: 5px 0 18px -3px #8773c1;
}
#eventAddButton > img {
    width: 40px;
}

.event-container {
    display: block;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: all .3s ease;
    cursor: pointer;
    float: left;
}
.event-container:hover {
    background-color: #fff;
    box-shadow: 0 3px 12px -4px rgba(0, 0, 0, 0.65);
}
.event-container > .event-icon {
    position: relative;
    display: inline-block;
    padding: 20px;
    width: 60px;
    height: 60px;
    float: left;
}
.event-container > .event-icon::before {
    content: '';
    position: absolute;
    top: 0;
    left: 29px;
    width: 2px;
    height: calc(100% + 10px);
    background-color: #eaeaea;
    z-index: -1;
}
.event-container:last-child > .event-icon::before {
    height: calc(50% + 10px);
}
.event-container:first-child > .event-icon::before {
    top: 50%;
    height: calc(50% + 10px);
}
.event-container:only-child > .event-icon::before {
    opacity: 0;
}
.event-container > .event-icon > img {
    width: 30px;
}
.event-container > .event-info {
    display: inline-block;
    padding: 10px;
}
.event-container > .event-info > p {
    margin: 0;
    font-size: 26px;
}


.event-indicator {
    position: absolute;
    width: fit-content;
    top: 100%;
    left: 50%;
    transform: translate(-50%, calc(-100% + -5px));
}
.event-indicator > .type-bullet {
    display: inline-block;
    float: left;
    padding: 2px;
}
.event-indicator > .type-bullet > div.type-event,
.event-indicator > .type-bullet > div.type-holiday,
.event-indicator > .type-bullet > div.type-birthday {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.event-container > .event-icon > div.event-bullet-event,
.event-container > .event-icon > div.event-bullet-holiday,
.event-container > .event-icon > div.event-bullet-birthday {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.event-container > .event-icon > div.event-bullet-event,
.event-indicator > .type-bullet > div.type-event {
    background-color: #ff7575;
}
.event-container > .event-icon > div.event-bullet-holiday,
.event-indicator > .type-bullet > div.type-holiday {
    background-color: #ffc107;
}
.event-container > .event-icon > div.event-bullet-birthday,
.event-indicator > .type-bullet > div.type-birthday {
    background-color: #3ca8ff;
}


button.icon-button {
    border: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding: 0;
    cursor: pointer;
}
button.icon-button > span.bars {
    position: relative;
    width: 100%;
    height: 6px;
    display: block;
    background-color: #fff;
}
button.icon-button > span.bars::before,
button.icon-button > span.bars::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 6px;
    display: block;
    background-color: #fff;
}
button.icon-button > span.bars::before {
    top: -12px;
}
button.icon-button > span.bars::after {
    bottom: -12px;
}
button.icon-button > span.chevron-arrow-left {
    display: inline-block;
    border-right: 6px solid #fff;
    border-bottom: 6px solid #fff;
    width: 33px;
    height: 33px;
    transform: rotate(-225deg);
}
button.icon-button > span.chevron-arrow-right {
    display: block;
    border-right: 6px solid #fff;
    border-bottom: 6px solid #fff;
    width: 33px;
    height: 33px;
    transform: rotate(-45deg);
}
/*tr.calendar-body .calendar-day .day.calendar-active {
    color: #7e57c2;
    background-color: #d5b2f6;
}
tr.calendar-body .calendar-day .day.calendar-active:hover {
    color: #fff;
    background-color: #7e57c2;
}
tr.calendar-body .calendar-day .day:hover,
tr.calendar-body .calendar-day .day.calendar-active {
    border-color: #5a5a5a;
}*/


/* 1024 */
@media only screen and (max-width: 1024px) {
    .calendar-sidebar {
        width: 175px;
    }
    .calendar-inner {
        padding: 50px 10px 70px 10px;
        width: calc(100% - 475px);
        margin-left: 175px;
    }
    .sidebar-hide .calendar-inner {
        width: calc(100% - 300px);
    }
    .event-hide .calendar-inner {
        width: calc(100% - 175px);
    }
    .calendar-events {
        width: 300px;
        padding: 70px 10px 60px 10px;
    }
    tr.calendar-body .calendar-day .day {
        padding: 8px;
        height: 45px;
        width: 45px;
        font-size: 16px;
    }
    .event-indicator > .type-bullet > div.type-event,
    .event-indicator > .type-bullet > div.type-holiday,
    .event-indicator > .type-bullet > div.type-birthday {
        width: 8px;
        height: 8px;
        border-radius: 50%;
    }
    .calendar-sidebar > span#sidebarToggler,
    #eventListToggler {
        width: 50px;
        height: 50px;
    }
    button.icon-button > span.bars {
        height: 4px;
    }
    button.icon-button > span.bars::before,
    button.icon-button > span.bars::after {
        height: 4px;
    }
    button.icon-button > span.bars::before {
        top: -10px;
    }
    button.icon-button > span.bars::after {
        bottom: -10px;
    }
    button.icon-button > span.chevron-arrow-right {
        border-right-width: 4px;
        border-bottom-width: 4px;
        width: 22px;
        height: 22px;
    }
}
/* md */
@media only screen and (max-width: 991px) {
    .calendar-sidebar {
        width: 150px;
    }
    .calendar-inner {
        padding: 50px 10px 70px 10px;
        width: calc(100% - 425px);
        margin-left: 150px;
    }
    .sidebar-hide .calendar-inner {
        width: calc(100% - 275px);
    }
    .event-hide .calendar-inner {
        width: calc(100% - 150px);
    }
    .calendar-events {
        width: 275px;
        padding: 70px 10px 60px 10px;
    }
}

/* sm */
@media only screen and (max-width: 768px) {
    .calendar-sidebar {
        width: 130px;
    }
    .calendar-inner {
        padding: 50px 10px 70px 10px;
        width: calc(100% - 405px);
        margin-left: 130px;
    }
    .sidebar-hide .calendar-inner,
    .sidebar-hide .calendar-events {
        width: 100%;
    }
    .event-hide .calendar-inner {
        width: calc(100% - 130px);
    }
    .calendar-inner,
    .calendar-events {
        width: calc(100% - 130px);
    }
    .event-hide .calendar-inner {
        transform: translateX(-100%);
        box-shadow: none;
    }
    .calendar-sidebar > .calendar-year > button.icon-button {
        width: 16px;
        height: 16px;
    }
    .calendar-sidebar > .calendar-year > button.icon-button > span {
        border-right-width: 2px;
        border-bottom-width: 2px;
    }
    .calendar-sidebar > .calendar-year > p {
        font-size: 22px;
    }
    .calendar-sidebar > .calendar-months > li {
        padding: 7px 15px;
    }
    .calendar-events > .event-header > p {
        margin: 0;
    }
}

/* xs */
@media only screen and (max-width: 425px) {
    .calendar-sidebar {
        width: 200px;
    }
    .calendar-inner {
        width:100%;
        margin-left: 0;
        padding: 50px 0 50px 0;
    }
    .sidebar-hide .calendar-inner,
    .event-hide .calendar-inner {
        width: 100%;
    }
    .calendar-inner,
    .calendar-events {
        width: 100%;
    }
    .event-hide .calendar-inner {
        transform: translateX(-100%);
        box-shadow: none;
    }
    tr.calendar-header .calendar-header-day {
        padding: 0;
    }
    tr.calendar-body .calendar-day {
        padding: 5px;
    }
    tr.calendar-body .calendar-day .day {
        padding: 6px;
        width: 40px;
        height: 40px;
        font-size: 20px;
    }
    .event-indicator {
        transform: translate(-50%, calc(-100% + -3px));
    }
    .event-indicator > .type-bullet {
        padding: 1px;
    }
    .event-indicator > .type-bullet > div.type-event,
    .event-indicator > .type-bullet > div.type-holiday,
    .event-indicator > .type-bullet > div.type-birthday {
        width: 6px;
        height: 6px;
    }
    tr.calendar-body .calendar-day .day.calendar-active,
    tr.calendar-body .calendar-day .day.calendar-active:hover {
        border: none;
    }
    .event-indicator {
        transform: translate(-50%, 0px);
    }
}
@media only screen and (max-width: 375px) {
    tr.calendar-header .calendar-header-day {
        font-size: 16px;
    }
    tr.calendar-body .calendar-day .day {
        width: 30px;
        height: 30px;
        font-size: 16px;
    }
}

/* sm 
/*@media only screen and (max-width: 767px) {
    .evo-calendar {
        grid-template-columns: 1fr;
        width: 100%;
    }
    .calendar-sidebar > .calendar-months {
        display: none;
    }
    .calendar-inner {
        padding: 20px;
    }
    .calendar-inner .calendar-table {
        font-size: 16px;
    }
    tr.calendar-body .calendar-day {
        padding: 5px;
    }
    tr.calendar-body .calendar-day .day {
        padding: 5px;
        height: 35px;
        width: 35px;
    }
};*/

