*, ::after, ::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: 'Source Sans Pro';
}
.evo-calendar {
    position: relative;
    background-color: #fbfbfb;
    color: #5a5a5a;
    width: 100%;
    box-shadow: 0 10px 50px -20px #8773c1;
    margin: 0 auto 50px auto;
    overflow: hidden;
    z-index: 1;
}

.calendar-sidebar {
    position: absolute;
    margin-top: 0;
    width: 200px;
    height: 100%;
    float: left;
    background-color: #8773c1;
    color: #fff;
    z-index: 1;
    box-shadow: 5px 0 18px -3px #8773c1;
    transition: all .3s ease;
    transform: translateX(0);
}

.sidebar-hide .calendar-sidebar {
    transform: translateX(-100%);
    box-shadow: none;
}
.calendar-sidebar > span {
    position: absolute;
    bottom: 0;
    right: 1px;
    transform: translate(100%, 0);
    background-color: #8773c1;
    padding: 10px;
    cursor: pointer;
    box-shadow: 5px 0 18px -3px #8773c1;
}
.calendar-sidebar > span > img {
    width: 40px;
}
.calendar-sidebar > .calendar-year {
    padding: 20px;
    text-align: center;
}
.calendar-sidebar > .calendar-year > p {
    margin: 0;
    font-size: 24px;
    display: inline-block;
}
.calendar-sidebar > .calendar-year > img {
    cursor: pointer;
    width: 20px;
    margin-top: 8px;
}
.calendar-sidebar > .calendar-year > img[year-val="prev"] {
    float: left;
}
.calendar-sidebar > .calendar-year > img[year-val="next"] {
    float: right;
}
.calendar-sidebar > .calendar-months {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.calendar-sidebar > .calendar-months > li {
    padding: 7px 30px;
    cursor: pointer;
    font-size: 16px;
}
.calendar-sidebar > .calendar-months > li:hover {
    background-color: #a692e0;
}
.calendar-sidebar > .calendar-months > li.active-month {
    background-color: #755eb5;
}
.calendar-inner {
    padding: 50px 30px 70px 30px;
    float: left;
    width: calc(100% - 600px);
    margin-left: 200px;
    background-color: #fff;
    box-shadow: 5px 0 18px -3px rgba(0, 0, 0, 0.15);
    transition: all .3s ease;
}
.sidebar-hide .calendar-inner {
    width: calc(100% - 400px);
    margin-left: 0;
}
.event-hide .calendar-inner {
    width: calc(100% - 200px);
}
.event-hide.sidebar-hide .calendar-inner {
    width: 100%;
}
.calendar-inner .calendar-table {
    border-collapse: collapse;
    font-size: 20px;
    width: 100%;
    user-select: none;
}
th[colspan="7"] {
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 26px;
}
tr.calendar-header {

}
tr.calendar-header .calendar-header-day {
    padding: 10px;
    text-align: center;
}

tr.calendar-body {
    
}
tr.calendar-body .calendar-day {
    padding: 10px;
}
tr.calendar-body .calendar-day .day {
    position: relative;
    padding: 15px;
    height: 60px;
    width: 60px;
    margin: 0 auto;
    border-radius: 50%;
    text-align: center;
    border: 1px solid transparent;
    transition: all .3s ease, transform .5s ease;
    cursor: pointer;
}
tr.calendar-body .calendar-day .day:hover {
    background-color: #dadada;
}
tr.calendar-body .calendar-day .day:active {
    transform: scale(0.9);
}

tr.calendar-body .calendar-day .day.calendar-active,
tr.calendar-body .calendar-day .day.calendar-active:hover {
    color: #5a5a5a;
    border-color: rgba(0, 0, 0, 0.5);
}

tr.calendar-body .calendar-day .day.calendar-today {
    color: #fff;
    background-color: #8773c1;
}
tr.calendar-body .calendar-day .day.calendar-today:hover {
    color: #fff;
    background-color: #755eb5;
}
/* yellow
tr.calendar-body .calendar-day .day.calendar-today {
    color: #60afa1;
    background-color: #c3f2ea;
}
tr.calendar-body .calendar-day .day.calendar-today:hover {
    color: #fff;
    background-color: #60afa1;
}*/
/*tr.calendar-body .calendar-day .day.calendar-event {
    color: #e09d9d;
    background-color: #ffc1c1;
}
tr.calendar-body .calendar-day .day.calendar-event:hover{
    color: #fff;
    background-color: #e09d9d;
}*/
/*tr.calendar-body .calendar-day .day.calendar-holiday {
    color: #e8af00;
    background-color: #ffe6a4;
}
tr.calendar-body .calendar-day .day.calendar-holiday:hover{
    color: #fff;
    background-color: #e8af00;
}*/
tr.calendar-body .calendar-day .day[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    background-color: transparent;
    color: #b9b9b9;
}


.calendar-events {
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    padding: 70px 30px 60px 30px;
    background-color: #fbfbfb;
    z-index: -1;
}
.calendar-events > .event-header {

}
.calendar-events > .event-header > p {
    font-size: 30px;
    font-weight: 600;
}
#eventListToggler {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #8773c1;
    padding: 10px;
    cursor: pointer;
    box-shadow: 5px 0 18px -3px #8773c1;
}
#eventListToggler > img {
    width: 40px;
}
#eventAddButton {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #8773c1;
    padding: 10px;
    cursor: pointer;
    color: #fff;
    box-shadow: 5px 0 18px -3px #8773c1;
}
#eventAddButton > img {
    width: 40px;
}

.event-container {
    display: block;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: all .3s ease;
    cursor: pointer;
    float: left;
}
.event-container:hover {
    background-color: #fff;
    box-shadow: 0 3px 12px -4px rgba(0, 0, 0, 0.65);
}
.event-container > .event-icon {
    position: relative;
    display: inline-block;
    padding: 20px;
    width: 60px;
    height: 60px;
    float: left;
}
.event-container > .event-icon::before {
    content: '';
    position: absolute;
    top: 0;
    left: 29px;
    width: 2px;
    height: calc(100% + 10px);
    background-color: #eaeaea;
    z-index: -1;
}
.event-container:last-child > .event-icon::before {
    height: calc(50% + 10px);
}
.event-container:first-child > .event-icon::before {
    top: 50%;
    height: calc(50% + 10px);
}
.event-container:only-child > .event-icon::before {
    opacity: 0;
}
.event-container > .event-icon > img {
    width: 30px;
}
.event-container > .event-info {
    display: inline-block;
    padding: 10px;
}
.event-container > .event-info > p {
    margin: 0;
}


.event-indicator {
    position: absolute;
    width: fit-content;
    top: 100%;
    left: 50%;
    transform: translate(-50%, calc(-100% + -5px));
}
.event-indicator > .type-bullet {
    display: inline-block;
    float: left;
    padding: 2px;
}
.event-indicator > .type-bullet > div.type-event,
.event-indicator > .type-bullet > div.type-holiday,
.event-indicator > .type-bullet > div.type-birthday {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.event-container > .event-icon > div.event-bullet-event,
.event-container > .event-icon > div.event-bullet-holiday,
.event-container > .event-icon > div.event-bullet-birthday {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.event-container > .event-icon > div.event-bullet-event,
.event-indicator > .type-bullet > div.type-event {
    background-color: #ff7575;
}
.event-container > .event-icon > div.event-bullet-holiday,
.event-indicator > .type-bullet > div.type-holiday {
    background-color: #ffc107;
}
.event-container > .event-icon > div.event-bullet-birthday,
.event-indicator > .type-bullet > div.type-birthday {
    background-color: #3ca8ff;
}


/*tr.calendar-body .calendar-day .day.calendar-active {
    color: #7e57c2;
    background-color: #d5b2f6;
}
tr.calendar-body .calendar-day .day.calendar-active:hover {
    color: #fff;
    background-color: #7e57c2;
}
tr.calendar-body .calendar-day .day:hover,
tr.calendar-body .calendar-day .day.calendar-active {
    border-color: #5a5a5a;
}*/


/* sm */
@media only screen and (max-width: 1024px) {
    .calendar-sidebar {
        width: 175px;
    }
    .calendar-inner {
        padding: 50px 10px 70px 10px;
        width: calc(100% - 475px);
        margin-left: 175px;
    }
    .sidebar-hide .calendar-inner {
        width: calc(100% - 300px);
    }
    .event-hide .calendar-inner {
        width: calc(100% - 175px);
    }
    .calendar-events {
        width: 300px;
        padding: 70px 10px 60px 10px;
    }
    tr.calendar-body .calendar-day .day {
        padding: 8px;
        height: 45px;
        width: 45px;
        font-size: 16px;
    }
    .event-indicator > .type-bullet > div.type-event,
    .event-indicator > .type-bullet > div.type-holiday,
    .event-indicator > .type-bullet > div.type-birthday {
        width: 8px;
        height: 8px;
        border-radius: 50%;
    }
}


/* sm 
/*@media only screen and (max-width: 767px) {
    .evo-calendar {
        grid-template-columns: 1fr;
        width: 100%;
    }
    .calendar-sidebar > .calendar-months {
        display: none;
    }
    .calendar-inner {
        padding: 20px;
    }
    .calendar-inner .calendar-table {
        font-size: 16px;
    }
    tr.calendar-body .calendar-day {
        padding: 5px;
    }
    tr.calendar-body .calendar-day .day {
        padding: 5px;
        height: 35px;
        width: 35px;
    }
};*/

